<style type="text/css">
.tabbotlin {
    
}
.tabbotcol {
        
}
</style>

<!-- BEGIN BLOCK_LINHAHORIZONTAL_EMCIMA -->
<hr align="{LINHAHORINZONTAL_ALINHAMENTO}" class="{LINHAHORINZONTAL_CLASSE}">
<!-- END BLOCK_LINHAHORIZONTAL_EMCIMA -->

<!-- BEGIN BLOCK_FORM -->
<form action="{FORM_LINK}" target="{FORM_TARGET}" method="{FORM_METODO}" name="{FORM_NOME}">   
<!-- END BLOCK_FORM --> 

<!-- BEGIN BLOCK_BOTOES -->
<table border="0">
    <!-- BEGIN BLOCK_LINHA -->
    <tr class="tabbotlin">
        <!-- BEGIN BLOCK_COLUNA -->
        <td class="tabbotcol" width="{COLUNA_TAMANHO}" align="{COLUNA_ALINHAMENTO}">
            
            <!-- BEGIN BLOCK_COLUNA_LINK --> 
            <a 
                href="
                    {COLUNA_LINK_ARQUIVO} 
                    <!-- BEGIN BLOCK_COLUNA_LINK_VOLTAR --> 
                    javascript:window.history.go(-1) 
                    <!-- END BLOCK_COLUNA_LINK_VOLTAR --> 
                " 
                class="link {COLUNA_LINK_CLASSE} "  
                target="{COLUNA_LINK_TARGET}"
            >
            <!-- END BLOCK_COLUNA_LINK -->  
            
            
            
            <!-- BEGIN BLOCK_BOTAO -->  
            <input 
                accesskey="{BOTAO_TECLA}"
                type="{BOTAO_TIPO}" 
                value="{BOTAO_VALOR}" 
                name="{BOTAO_NOME}" 
                id="{BOTAO_ID}"
                title="{BOTAO_DICA}"
                onclick="{BOTAO_ONCLICK}"

                <!-- BEGIN BLOCK_BOTAO_PADRAO --> 
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAO_PADRAO --> 

                <!-- BEGIN BLOCK_BOTAO_DINAMICO --> 
                class="{BOTAO_CLASSE}"
                <!-- END BLOCK_BOTAO_DINAMICO -->                     

                <!-- BEGIN BLOCK_BOTAO_DESABILITADO --> 
                disabled 
                <!-- END BLOCK_BOTAO_DESABILITADO -->  

                <!-- BEGIN BLOCK_BOTAO_AUTOFOCO --> 
                autofocus
                <!-- END BLOCK_BOTAO_AUTOFOCO -->  
            >
            <!-- END BLOCK_BOTAO -->         

            
            
            <!-- BEGIN BLOCK_BOTAOPADRAO -->  
            <input 
                <!-- BEGIN BLOCK_BOTAOPADRAO_SIMPLES -->  
                type="button" 
                <!-- END BLOCK_BOTAOPADRAO_SIMPLES -->  

                <!-- BEGIN BLOCK_BOTAOPADRAO_SUBMIT -->  
                type="submit" 
                <!-- END BLOCK_BOTAOPADRAO_SUBMIT -->  
                
                accesskey="{BOTAOPADRAO_TECLA}"                
                
                <!-- BEGIN BLOCK_BOTAOPADRAO_IMPRIMIR -->  
                value="IMPRIMIR" 
                name="IMPRIMIR" 
                title=""
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAOPADRAO_IMPRIMIR -->
                
                <!-- BEGIN BLOCK_BOTAOPADRAO_SALVAR -->  
                value="SALVAR" 
                name="SALVAR" 
                title=""
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAOPADRAO_SALVAR -->
                
                <!-- BEGIN BLOCK_BOTAOPADRAO_CONTINUAR -->  
                value="CONTINUAR" 
                name="CONTINUAR" 
                title=""
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAOPADRAO_CONTINUAR -->
                
                                
                <!-- BEGIN BLOCK_BOTAOPADRAO_CANCELAR -->  
                value="CANCELAR" 
                name="CANCELAR" 
                title=""
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAOPADRAO_CANCELAR -->
                
                <!-- BEGIN BLOCK_BOTAOPADRAO_VOLTAR -->  
                value="VOLTAR" 
                name="VOLTAR" 
                title=""
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAOPADRAO_VOLTAR -->

                 <!-- BEGIN BLOCK_BOTAOPADRAO_PESQUISAR -->  
                value="PESQUISAR" 
                name="PESQUISAR" 
                title=""
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAOPADRAO_PESQUISAR -->               

                 <!-- BEGIN BLOCK_BOTAOPADRAO_LIMPAR -->  
                value="REINICIAR PESQUISA" 
                name="REINICIAR PESQUISA" 
                title=""
                class="botaopadrao {BOTAOPADRAO_CLASSE}"
                <!-- END BLOCK_BOTAOPADRAO_LIMPAR -->               

                <!-- BEGIN BLOCK_BOTAOPADRAO_CADASTRAR -->  
                value="CADASTRAR" 
                name="CADASTRAR" 
                title=""
                class="botaopadrao botaopadraocadastrar"
                <!-- END BLOCK_BOTAOPADRAO_CADASTRAR -->               
                
                <!-- BEGIN BLOCK_BOTAOPADRAO_DESABILITADO --> 
                disabled 
                <!-- END BLOCK_BOTAOPADRAO_DESABILITADO -->  

                <!-- BEGIN BLOCK_BOTAOPADRAO_AUTOFOCO --> 
                autofocus
                <!-- END BLOCK_BOTAOPADRAO_AUTOFOCO -->  
            >
            <!-- END BLOCK_BOTAOPADRAO -->         

            </a>            
        </td>
        <!-- END BLOCK_COLUNA -->
    </tr> 
    <!-- END BLOCK_LINHA -->
</table>
<!-- END BLOCK_BOTOES -->

<!-- BEGIN BLOCK_FECHARFORM -->
</form>
<!-- END BLOCK_FECHARFORM -->

<!-- BEGIN BLOCK_LINHAHORIZONTAL_EMBAIXO -->
<hr align="{LINHAHORINZONTAL_ALINHAMENTO}" class="{LINHAHORINZONTAL_CLASSE}">
<!-- END BLOCK_LINHAHORIZONTAL_EMBAIXO -->