<style type="text/css">
    .data {
        float: right;
        color: gray;
        font-style: italic;
    }
    .titulo {
        font-size: 16pt;
        font-weight: bolder;
    }
    .titulo1 {
        font-size: 10pt;
        font-weight: bolder;
    }
    .dados {
        font-size: 10pt;
    }
    .estrutura {
        font-size: 10pt;
    }
</style>
<div class="estrutura">
    <span class="titulo">RELATÓRIO</span>
    <span class="data">{DATA} - {HORA}</span>
    <table border="0" width="100%">
        <tr>
            <td width="80px" class="" align="right"><span class="titulo1">Nº:</span></td>
            <td class="" align="left"><span class="dados">{NUMERO}</span></td>
            <td width="80px" class="" align="right"><span class="titulo1">Cooperativa:</span></td>
            <td class="" align="left"><span class="dados">{COOPERATIVA}</span></td>
            <td width="80px" class="" align="right" rowspan="2">
                <img src="../../imagens/logos/sgaf1.png" width="45px">
            </td>
        </tr>
        <tr>
            <td class="" align="right"><span class="titulo1">Nome:</span></td>
            <td class="" align="left"><span class="dados">{NOME}</span></td>
            <td class="" align="right"><span class="titulo1">Quiosque:</span></td>
            <td class="" align="left"><span class="dados">{QUIOSQUE}</span></td>
        </tr>
    </table>    
</div>
<hr>