<br><br>
<table summary="" border="1" class="notificacao" cellpadding="4" align="center">
<tr valign="middle" class="msgnotificacao celula1">
	
    <!-- BEGIN BLOCK_CONFIRMAR -->            
    <td align="right" width="47%"> <img src="{ICONES}confirmar.png" > </td>
    <td align="left"> CONFIRMADO </td>      
    <!-- END BLOCK_CONFIRMAR -->
    <!-- BEGIN BLOCK_TITULO -->            
    <td align="right" width="37%"> <img src="{ICONES}{ICONE_ARQUIVO}" > </td>
    <td align="left"> {TITULO} </td>      
    <!-- END BLOCK_TITULO -->

    <!-- BEGIN BLOCK_ERRO -->
    <td align="right" width="47%"> <img src="{ICONES}erro.png" > </td>
    <td align="left"> ERRO </td>                
    <!-- END BLOCK_ERRO -->

    <!-- BEGIN BLOCK_ATENCAO -->
    <td align="right" width="47%"> <img src="{ICONES}atencao.png" > </td>
    <td align="left"> ATENÇÃO </td>  
    <!-- END BLOCK_ATENCAO -->           

    <tr align="center" class="">
    <td colspan="2">        
            
        <!-- BEGIN BLOCK_APAGADO -->
        <b>Os dados foram apagados com sucesso!<b><br>
        <!-- END BLOCK_APAGADO -->            
        <!-- BEGIN BLOCK_NAOAPAGADO -->
        <b>Não foi possivel apagar os dados!</b><br>
        <!-- END BLOCK_NAOAPAGADO -->            

        <!-- BEGIN BLOCK_CADASTRADO -->
        <b>Os dados foram cadastros com sucesso!</b><br>
        <!-- END BLOCK_CADASTRADO -->
        <!-- BEGIN BLOCK_NAOCADASTRADO -->
        <b>Não foi possível cadastrar os dados!</b><br>
        <!-- END BLOCK_NAOCADASTRADO -->            

        <!-- BEGIN BLOCK_EDITADO -->
        <b>Os dados foram alterados com sucesso!</b><br>
        <!-- END BLOCK_EDITADO -->
        <!-- BEGIN BLOCK_NAOEDITADO -->
        <b>Não foi possível alterar os dados!</b><br>
        <!-- END BLOCK_NAOEDITADO -->            

        <!-- BEGIN BLOCK_MOTIVO_JAEXISTE -->
         Já existe um registro cadastrado que possui o(a) mesmo(a)
        <!-- END BLOCK_MOTIVO_JAEXISTE --> 

        <!-- BEGIN BLOCK_MOTIVO_EMUSO -->
         Este registro está sendo usando em 
        <!-- END BLOCK_MOTIVO_EMUSO --> 
        
        <!-- BEGIN BLOCK_MOTIVO_FALTADADOS -->
         {FALTADADOS_MOTIVO} 
        <!-- END BLOCK_MOTIVO_FALTADADOS -->             

        <!-- BEGIN BLOCK_NAOTEMPERMISSAO -->
         Você não tem permissão para acessar este conteúdo! 
        <!-- END BLOCK_NAOTEMPERMISSAO -->  
        
        <!-- BEGIN BLOCK_MOTIVO -->
        {MOTIVO} 
        <!-- END BLOCK_MOTIVO -->             

        <i>{MOTIVO_COMPLEMENTO}</i>
        
    </td>
</tr>    
<!-- BEGIN BLOCK_PERGUNTA -->
<tr align="center" class="sembordabaixo">
    <td colspan="2">        
        <span class="notificacao_motivo_complemento">{PERGUNTA}</span>
    </td> 
</tr>
<!-- END BLOCK_PERGUNTA -->

<tr>
   <td colspan="2" align="center" >

       <!-- BEGIN BLOCK_BOTAOGERAL -->
       <a 
           class="link" 
           href="{BOTAOGERAL_DESTINO}"
           <!-- BEGIN BLOCK_BOTAOGERAL_NOVAJANELA -->
           target="_blank" 
           <!-- END BLOCK_BOTAOGERAL_NOVAJANELA -->           
       >
           <input 
               type="{BOTAOGERAL_TIPO}" 
               value="{BOTAOGERAL_NOME}" 
               class="botao fonte3 {BOTAOGERAL_CLASSE}" 
               <!-- BEGIN BLOCK_BOTAOGERAL_AUTOFOCO -->
               autofocus
               <!-- END BLOCK_BOTAOGERAL_AUTOFOCO -->
           >
       </a>
       <!-- END BLOCK_BOTAOGERAL -->       

       <!-- BEGIN BLOCK_BOTAO -->
       <a class="link" href="{DESTINO}"><input type="button" value="CONTINUAR" class="botao fonte3" autofocus="1"></a>
       <!-- END BLOCK_BOTAO -->
       <!-- BEGIN BLOCK_BOTAO_VOLTAR -->
       <a class="link" href="javascript:window.history.go(-1)">
           <input type="button" value="VOLTAR" class="botao fonte3" autofocus>
       </a>
       <!-- END BLOCK_BOTAO_VOLTAR -->
       <!-- BEGIN BLOCK_BOTAO_VOLTAR2 -->       
       <a class="link" href="{VOLTAR2_LINK}">
           <input type="button" value="VOLTAR" class="botao fonte3" autofocus>
       </a>
       <!-- END BLOCK_BOTAO_VOLTAR2 -->         
       
       <!-- BEGIN BLOCK_BOTAO_SIMNAO -->       
       <a 
           class="link"            
           <!-- BEGIN BLOCK_BOTAO_NAO_LINK -->       
           href="{NAO_LINK}"
           <!-- END BLOCK_BOTAO_NAO_LINK -->       
           <!-- BEGIN BLOCK_BOTAO_NAO_VOLTAR -->       
           href="javascript:window.history.go(-1)"
           <!-- END BLOCK_BOTAO_NAO_VOLTAR -->      
       >
       <input type="button" value="NÃO" class="botao fonte3 botaomuitopequeno" autofocus>
       </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a class="link" href="{LINK}" target="{LINK_TARGET}">
           <input type="button" value="SIM" class="botao fonte3 botaomuitopequeno" >
       </a>
       <!-- END BLOCK_BOTAO_SIMNAO -->
        <!-- BEGIN BLOCK_BOTAO_FORM -->
        <form action="{FORM_DESTINO}">       
               <!-- BEGIN BLOCK_BOTAO_FORM_CAMPOOCULTO -->
               <input type="hidden" name="{CAMPOOCULTO_NOME}" value="{CAMPOOCULTO_VALOR}">
               <!-- END BLOCK_BOTAO_FORM_CAMPOOCULTO -->
               <input type="submit" value="CONTINUAR" class="botao fonte3" autofocus="1">
        </form>
        <!-- END BLOCK_BOTAO_FORM -->       
   </td>
</tr>
</table>
<br><br>
