<style type="text/css">
    .tituloprincipal
    {
        font-family: Arial;
        font-size: 12pt;
        font-weight: bold;
    }
    .subtituloprincipal
    {
        font-family: Arial;
        font-size: 10pt;
        font-style: italic;
        color: gray;
        font-weight: bold; 
    }
</style>

<table summary="" class="" border="0">
    <tr>
        <td width="35px"><img width="50px" src="{ICONES_CAMINHO}{NOME_ARQUIVO_ICONE}" alt="" ></td>
        <td valign="bottom">
            <label class="tituloprincipal" > {TITULO} </label><br />
            <label class="subtituloprincipal"> {SUBTITULO} </label>
        </td>
    </tr>
</table>
<hr align="left" class="linhacurta" >
