<style type="text/css">
    .titemlin1_div {
        background-color: #DCDCDC;
        height: 30px; 
    } 
    .titemlin1_span {
        font-family: Arial;
        font-size: 12pt;    
        color: black;
        font-weight: bold; 
        position: relative;        
        top: 5px;
        left: 5px;
    }
</style>

<!-- BEGIN BLOCK_QUEBRA1 -->
<br>
<!-- END BLOCK_QUEBRA1 -->

<!-- BEGIN BLOCK_TITULO -->
<div class="titemlin1_div">
    <span class="titemlin1_span">
        {LISTA_TITULO}
    </span>
</div>
<!-- END BLOCK_TITULO -->  

<!-- BEGIN BLOCK_QUEBRA2 -->
<br>
<!-- END BLOCK_QUEBRA2 -->